<body > 
    <section class="home" id="home">
    
        <div class="row">
      
            <div class="content">
                <h3 id="h31">Perfect Event</h3>
                <h3 id="h32">Made Easy!</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam deserunt nostrum accusamus. Nam alias sit necessitatibus, aliquid ex minima at!</p>
                <a href="#services" class="btn">view our services</a>
                
                
            </div>
            <swiper [config]="config" class="swiper books-slider">
                
                <div class="swiper-wrapper">
                    <a routerLink="/product/{{discountedBook.id}}" class="swiper-slide" *ngFor="let discountedBook of discountedBooks"><img src="{{discountedBook.image_url}}" alt=""></a>
                </div>
                <img src="/assets/image/im.png" alt="" style="width:500px;height:450px;">
            </swiper>
        </div>
    
      
      </section>
      <section class="about" id="about" >
    
     
    
     
    
        <div class="row">
    
     
    
            <div class="video-container">
    
                <video src="/assets/image/v.mp4" ></video>
    
                <h3>Elite Events </h3>
            </div>
    

    
            <div class="content" >
    
                <h1 id="h11">what we offer </h1>
                <h1 id="h12"> we ofer with love  </h1>
    
                <p>Our cakes are healthy, tasty and made with the best ingredients.</p>
    
                <p>Moreover, Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim voluptatem quidem obcaecati minus corrupti quam veritatis numquam ducimus sit quis sequi suscipit ullam vitae labore nisi, voluptate cupiditate aperiam accusantium!</p>
    
               
    
                <a href="#contact" class="buttons">learn more</a>
    
            </div>
    
     
    
        </div>
    
     
    
    </section>
    <section class="home" id="home">
    
        <div class="row">
      
            <div class="content">
                <h3 id="h111">Includes various</h3>
                <h3 id="h112">product categories</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam deserunt nostrum accusamus. Nam alias sit necessitatibus, aliquid ex minima at!</p>
                <a href="services" class="btn">see more</a>
                
            </div>
            <swiper [config]="config" class="swiper books-slider">
                
                <div class="swiper-wrapper">
                    <a routerLink="/product/{{discountedBook.id}}" class="swiper-slide" *ngFor="let discountedBook of discountedBooks"><img src="{{discountedBook.image_url}}" alt=""></a>
                </div>
                <img src="/assets/image/photo.png" alt="" style="width:600px;height:600px;">
            </swiper>
        </div>

        

      </section>
      <section class="services" id="services">
        <h1 class="heading"> <span>our Services</span> </h1>
    
        <swiper [config]="config" class="swiper services-slider">
    
            <div class="swiper-wrapper">
    
                <div class="swiper-slide box">
                    <div class="image">
                        <img src="assets/chef.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>Chefs</h3>
                        <p>Our team of skilled chefs are passionate about creating delicious and memorable culinary experiences for your event. Whether you need catering for a corporate event, wedding, or private party, our chefs will work with you to design a menu that suits your needs and tastes.  
                        </p>
                        <br>
                        <br>
                        <a href="#" class="btn1">read more</a>
                    </div>
                </div>
    
                <div class="swiper-slide box">
                    <div class="image">
                        <img src="assets/dec.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>Decorator</h3>
                        <p>Our team of experienced decorators will transform your event space into a beautiful and cohesive setting that reflects your unique style and vision. Whether you want an elegant and sophisticated look or a fun and whimsical theme, our decorators will work with you to bring your ideas to life.</p>
                        <br>
                        <a href="#" class="btn1">read more</a>
                    </div>
                </div>
    
                <div class="swiper-slide box">
                    <div class="image">
                        <img src="assets/eq.png" alt="">
                    </div>
                    <div class="content">
                        <h3>Event equipments and rentals</h3>
                        <p> Our extensive inventory of event equipment rentals includes everything you need to create a seamless and memorable event. From tables and chairs to linens, lighting, and sound systems, we have it all. Our equipment is top-quality and well-maintained, ensuring that your event runs smoothly and looks great.</p>
                        <a href="#" class="btn1">read more</a>
                    </div>
                </div>
                
                <div class="swiper-slide box">
                    <div class="image">
                        <img src="assets/ph1.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>Photographers</h3>
                        <p>Our talented photographers are dedicated to capturing the essence and emotion of your event through stunning visual storytelling. From candid moments to posed shots, our photographers will create a timeless collection of images that you can treasure for years to come.</p>
                        <br>
                        <a href="#photographers" class="btn1">Read More</a>
                    </div>
                </div>
    
            </div>
    
        </swiper>
    </section>
    <section class="services" id="services">

    <swiper [config]="config" class="swiper services-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <div class="image">
                    <img src="assets/des.webp" alt="">
                </div>
                <div class="content">
                    <h3>Graphic designers</h3>
                    <p>Our talented graphic designers are dedicated to creating visually stunning event materials that help bring your vision to life. From invitations and save-the-dates to programs and signage, our team can help you create a cohesive and stylish look for your event.
                    </p>
                    <br>
                    <br>
                    <a href="#" class="btn1">read more</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="assets/w.jpg" alt="">
                </div>
                <div class="content">
                    <h3>waiters and waitresses </h3>
                    <p>Our experienced and professional waitstaff are dedicated to providing exceptional service and ensuring that your guests have an enjoyable dining experience. From setup to cleanup, our team will take care of all the details so that you can relax and enjoy your event.</p>
                    <br>
                    <a href="#" class="btn1">read more</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="assets/bd.webp" alt="">
                </div>
                <div class="content">
                    <h3>musical bands</h3>
                    <p> Our talented musical bands are experienced in entertaining crowds of all ages and music tastes. From jazz and blues to rock and pop, we have a wide range of musical styles and genres to choose from. Our bands are professional, versatile, and will keep your guests dancing all night long.</p>
                    <a href="#" class="btn1">read more</a>
                </div>
            </div>
            
            <div class="swiper-slide box">
                <div class="image">
                    <img src="assets/ev.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Event venues</h3>
                    <p>Our event venues are the perfect spaces to host your next event. With a variety of indoor and outdoor spaces available, we can accommodate events of all sizes and styles. Our venues are equipped with everything you need to make your event a success, from state-of-the-art audiovisual equipment to comfortable seating and customizable decor.</p>
                    <a href="#" class="btn1">read more</a>
                </div>
                
            </div>

        </div>

    </swiper>
    </section>
    <section id="photographers">
        <div class="section">
            <h1 class="heading"> <span>our photographers</span> </h1>
          <div class="photographer">
            <div class="image">
              <img src="/assets/p1.jpg" alt="Ahmed Amri photo">
            </div>
            <div class="text">
              <h3>Ahmed Amri</h3>
              <p>Ahmed is a passionate photographer with a keen eye for detail. She specializes in capturing candid moments and emotions, creating timeless and evocative images that tell a story. Her work has been featured in several publications, and she has won numerous awards for her photography. </p>
              <a href="ahmed-amri-portfolio.html" class="btn">See More
                <i class="fab fa-whatsapp"></i>
                <i class="fab fa-linkedin"></i>
              </a>
            </div>
          </div>
          <div class="photographer">
            <div class="image">
              <img src="/assets/p4.webp" alt="Jamil Ben Amor photo">
            </div>
            <div class="text">
              <h3>Jamil Ben Amor</h3>
              <p>Jamil is a versatile photographer with a wide range of experience, from fashion and editorial to weddings and events. He has a creative approach to photography, always pushing the boundaries and experimenting with new techniques. His work has been published in several magazines and he has received praise for his ability to capture the essence of his subjects.</p>
              <a href="jamil-ben-amor-portfolio.html" class="btn">See More
                <i class="fab fa-whatsapp"></i>
                <i class="fab fa-linkedin"></i>
              </a>
            </div>
          </div>
          <div class="photographer">
            <div class="image">
              <img src="/assets/p2.jfif" alt="Amina Tounsi photo">
            </div>
            <div class="text">
              <h3>Amina Tounsi</h3>
              <p>Amina is a skilled photographer with a passion for natural light and candid moments. She specializes in family and portrait photography, creating beautiful and intimate images that capture the essence of her subjects. Her work has been featured in several exhibitions and galleries, and she is known for her ability to put her subjects at ease and create a comfortable and relaxed atmosphere.</p>
              <a href="amina-tounsi-portfolio.html" class="btn">See More
                <i class="fab fa-whatsapp"></i>
                <i class="fab fa-linkedin"></i>
              </a>
            </div>
          </div>
          <div class="photographer">
            <div class="image">
              <img src="/assets/p3.jpg" alt="Bassem Chekir photo">
            </div>
            <div class="text">
              <h3>Bassem Chekir </h3>
              <p>Bassem is a talented photographer with a passion for landscape and travel photography. He has a unique perspective and an eye for capturing stunning natural beauty. His work has been featured in several galleries and exhibitions, and he is known for his ability to transport his viewers to breathtaking locations.</p>
              <a href="bassem-chekir-portfolio.html" class="btn">See More
                <i class="fab fa-whatsapp"></i>
                <i class="fab fa-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
    </section>
      
    <section h1 src="/assets/h1.jpg"> <p></p> </section>

    <section class="blogs" id="blogs">
    
        <h1 class="heading"> <span>our Events</span> </h1>
    
        <swiper [config]="config" class="swiper blogs-slider">
    
            <div class="swiper-wrapper">
    
                <div class="swiper-slide box">
                    <div class="image">
                        <img src="assets/image/evn5.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>graduation party</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, odio.</p>
                        <a href="#" class="btn1">read more</a>
                    </div>
                </div>
    
                <div class="swiper-slide box">
                    <div class="image">
                        <img src="assets/image/evn4.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>birthday party</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, odio.</p>
                        <a href="#" class="btn1">read more</a>
                    </div>
                </div>
    
                <div class="swiper-slide box">
                    <div class="image">
                        <img src="assets/image/evn3.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>conference</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, odio.</p>
                        <a href="#" class="btn1">read more</a>
                    </div>
                </div>
                
                <div class="swiper-slide box">
                    <div class="image">
                        <img src="assets/image/evn1.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>wedding party</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, odio.</p>
                        <a href="#" class="btn1">read more</a>
                    </div>
                </div>
                <div class="swiper-slide box">
                    <div class="image">
                        <img src="assets/image/evn2.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>festival</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, odio.</p>
                        <a href="#" class="btn1">read more</a>
                    </div>
                </div>
    
            </div>
    
        </swiper>
    
    </section>
    
</body>  
    