
*{
    background-image:url("/assets/image/pinki.jpg");
    background-size: contain;
    Box-sizing: border-box;
}

h3 {
    text-align: center;
    color: #27020e; font-size: 40px; line-height: 160px; font-weight: normal; margin-bottom: 0px; margin-top: 40px; text-align: center; text-shadow: 0 1px 1px #fff;}

.footer .share {
    padding: 1rem 0;
    text-align: center;
}

.footer .share a {
    text-decoration: none;
    height: 10rem;
    width: 10rem;
    line-height: 10rem;
    font-size: 4rem;
    color: #fff;
    background: #82d0cf;
    margin: 1rem;
    border-radius: 100%;
}

.footer .share a:hover {
    background: #b75966;
}

.footer .credit {
    border-top: var(--border);
    margin-top: 2rem;
    padding: 0 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--light-color);
    text-align: center;
}

.footer .credit span {
    color: #82d0cf;
}

