<!-- home section starts  -->
<app-home-books></app-home-books>
<!-- home section ense  -->

<section class="newsletter">

  <form action="">
      <h3>subscribe for latest updates</h3>
      <input type="email" name="" placeholder="enter your email" id="" class="box">
      <input type="submit" value="subscribe" class="btn">
  </form>

</section>







<!-- reviews section ends -->

<!-- blogs section starts  -->


<!-- blogs section ends -->
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

